<div class="box">
    <div id="btc-comix-widget">
        <!--<script id="BTCComix"-->
        <!--data-env="http://dev.beyondthecomics.com"-->
        <!--data-ws="http://dws.beyondthecomics.com"-->
        <!--data-pl="PLLVtQiMiCJeEHxORp98Big9gYBCJ3LIXX"-->
        <!--src="http://dev.beyondthecomics.com/assets/js/BTCComix.js">-->
        <!--</script>-->
        <script id="BTCComix"
                data-env="http://localhost:3000"
                data-ws="http://localhost:8001"
                data-pl="PLLVtQiMiCJeEHxORp98Big9gYBCJ3LIXX"
                src="/assets/js/BTCComix.js">
        </script>
    </div>
</div>
