<div class="box">
    <div id="btc-widget">
        <script id="BTCHomeWidget"
                data-ads="false"
                data-style="comics-kingdom"
                data-env="http://localhost:3000"
                data-ws="http://localhost:8001"
                data-width="265"
                data-height="252"
                data-open="left"
                data-pl="PLLVtQiMiCJeEcXlTmAuiY8T_0gWCTxyws"
                data-grid="self"
                data-archive="calendar"
                src="http://localhost:3000/assets/js/BTCHomeWidget.js">
        </script>
        <!--<script id="BTCHomeWidget"-->
        <!--data-ads="false"-->
        <!--data-style="comics-kingdom"-->
        <!--data-env="http://dev.beyondthecomics.com"-->
        <!--data-ws="http://dws.beyondthecomics.com"-->
        <!--data-width="265"-->
        <!--data-height="252"-->
        <!--data-open="left"-->
        <!--data-pl="PLLVtQiMiCJeH4rzEwTSVfR-bmmk2Xyd9A"-->
        <!--data-grid="self"-->
        <!--data-archive="calendar"-->
        <!--src="http://dev.beyondthecomics.com/assets/js/BTCHomeWidget.js">-->
        <!--</script>-->
        <!--<script id="BTCHomeWidget"-->
        <!--data-ads="false"-->
        <!--data-style="comics-kingdom"-->
        <!--data-env="http://beyondthecomics.com"-->
        <!--data-ws="http://ws.beyondthecomics.com"-->
        <!--data-width="265"-->
        <!--data-height="252"-->
        <!--data-open="left"-->
        <!--data-pl="PLLVtQiMiCJeEcXlTmAuiY8T_0gWCTxyws"-->
        <!--data-grid="self"-->
        <!--data-archive="calendar"-->
        <!--src="http://beyondthecomics.com/assets/js/BTCHomeWidget.js">-->
        <!--</script>-->
    </div>
</div>
