<div class="box">
    <div id="btc-widget">
        <script id="BTCHomeWidget"
                data-ads="false"
                data-style="comics-kingdom"
                data-env="http://localhost:3000"
                data-ws="http://localhost:8001"
                data-width="265"
                data-height="252"
                data-open="left"
                data-pl="PLLVtQiMiCJeEcXlTmAuiY8T_0gWCTxyws"
                data-grid="self"
                data-carousel="true"
                src="http://localhost:3000/assets/js/BTCHomeWidget.js">
        </script>
    </div>
</div>
